@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <section id="header" style="padding:90px 0 45px 0">
        <h1 class="display-4" id="h1"
            style="font-family:Gabriola; color:lightcoral;font-size:80pt; "
        text >Welcome <br>to<br>ArtLife </h1>
      



</div>
<style>
    #header {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url('https://blogs.yorkschool.com/hannahelps/wp-content/uploads/2015/06/architecture-drawing-og-making-the-house.jpg') no-repeat;
        background-size: cover;
    }

    #h1 {
        padding: 100px 0 100px 0;
        color: white;
        font-weight: 800;
    }
</style>